.signleftSection {
    background: #fef9f4;
    border-radius: 5px;
    box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 10%);
    padding: 3em;
  }
  
  .LefttxtSty {
    min-height: 245px;
    position: relative;
  }
  
  .signinsignupSection {
    background: #fff url('../img/pattern-fworks-light.svg') repeat-x; 
    background-position: bottom;
    padding: 7em 0;
  }
  
  .LefttxtSty img {
    position: absolute;
    height: 400px;
  }
  
  .login-section .modal-title {
    font-size: 30px;
      margin-top: 0px;
      padding: 0px;
      margin-bottom: 0px;
      line-height: 35px;
      color: #4c5869;
      font-weight: 600;
  }
  
  .signRightSection {
    padding: 30px 50px;
  }
  
  .singin-msg {
    margin-top: 6rem;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 15px;
  }
  
  .needHelpSty span {
    font-weight: 600;
  }
  
  .slideanimation {
    animation: slideanimation 2s linear infinite;
  }

  .btn-login .btn {
      font-size: 16px;
  }
  
  @keyframes slideanimation {
    0% {
      transform: translate(0px,-5px);
    }
  
    50% {
      transform: translate(0px,5px);
  }
  
  100% {
    transform: translate(0px,-5px);
  }
  }